---
import type { CollectionEntry } from "astro:content";

import BaseHead from "../BaseHead.astro";
import FormattedDate from "../FormattedDate.astro";
import ResponsiveImage from "../ResponsiveImage.astro";
import MinimalPage from "./MinimalPage.astro";
import SocialImage from "../SocialImage.astro";

type Props = CollectionEntry<"einblicke">["data"];

const { title, description, pubDate, updated, heroImage } = Astro.props;
---

<MinimalPage>
  <BaseHead slot="head" title={title} description={description}>
    <SocialImage name={heroImage} />
  </BaseHead>
  <article>
    <section>
      <h1>{title}</h1>
      <div class="text-center">Veröffentlicht am
        <FormattedDate date={pubDate} />
        {updated &&
          <>- aktualisiert am
            <FormattedDate date={updated} />
          </>
        }</div>
      {heroImage &&
        <div>
          <ResponsiveImage name={heroImage} height="32rem" />
        </div>}
    </section>
    <hr />
    <slot />
  </article>
</MinimalPage>
