---
import type { CollectionEntry } from "astro:content";

import BaseHead from "../BaseHead.astro";
import ResponsiveImage from "../ResponsiveImage.astro";
import MinimalPage from "./MinimalPage.astro";
import SocialImage from "../SocialImage.astro";
import Published from "../Published.astro";

type Props = CollectionEntry<"einblicke">["data"];

const { title, description, heroImage,...dates } = Astro.props;
---

<MinimalPage>
  <BaseHead slot="head" title={title} description={description}>
    <SocialImage name={heroImage} />
  </BaseHead>
  <article>
    <section>
      <h1>{title}</h1>
      <Published {...dates} />
      {heroImage &&
        <div>
          <ResponsiveImage name={heroImage} height="32rem" />
        </div>}
    </section>
    <hr />
    <slot />
  </article>
</MinimalPage>
