---
import { getCollection } from "astro:content";
import MinimalPage from "../../layouts/pages/MinimalPage.astro";
import type { InferGetStaticPropsType } from "astro";
import BaseHead from "../../layouts/BaseHead.astro";
import { GalleryLayout } from "../../layouts/GalleryLayout";
import SocialImage from "../../layouts/SocialImage.astro";
import ResponsiveImage from "../../layouts/ResponsiveImage.astro";
import GalleryMenu from "../../layouts/GalleryMenu.astro";
import categories from "../../content/categories.json";
import { computeKey } from "../../images/Images";
import { type SchemaCreationFunction } from "../../layouts/SchemaOrg";
import { createCollectionPageSchema } from "../../layouts/SchemaOrg.factory";
import SchemaOrg from "../../layouts/SchemaOrg.astro";
import { getEntry } from "astro:content";
import { absoluteLink } from "../../utils";

export async function getStaticPaths() {
  const categories = await getCollection("categories");
  return await Promise.all(categories.map(async (category) => {
    const images = (await getCollection("imageMetadata", e => e.data.categories?.includes(category.id) ?? false))
      .sort((a, b) => (b.data.metadata?.captureDate?.getTime() ?? -1) - (a.data.metadata?.captureDate?.getTime() ?? -1))
      .map(e => computeKey(e.filePath ?? ""));
    return ({ params: { category: category.id }, props: { data: category.data, images } });
  }));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { data, images } = Astro.props;
const { category: currentPath } = Astro.params;
const { name } = data;

const title = name !== "Alle Bilder" ? `Alle Bilder - ${name}` : name;

const allImageMetadata = await Promise.all(images.map(async (image) => await getEntry("imageMetadata", image)));

const lastImageMetadata = allImageMetadata[allImageMetadata.length - 1];
if (lastImageMetadata === undefined) {
  return;
}

const createData: SchemaCreationFunction = (_, __, df) => createCollectionPageSchema({
  name: title,
  dateModified: df(lastImageMetadata.data.metadata?.captureDate),
  items: allImageMetadata.filter(e => e !== undefined)
    .filter(e => typeof e.data.title === "string").map(e => ({
      name: e.data.title ?? "",
      type: "ImageObject",
      url: absoluteLink(Astro.url, `/gallery/${e.id}`)
    }))
});
---
<MinimalPage>
  <BaseHead title={title} slot="head">
    <SocialImage name={images[0]} />
    <SchemaOrg createData={createData} />
  </BaseHead>

  <GalleryMenu categories={categories} currentPath={currentPath} />

  <h1>{title}</h1>

  <section data-clickable data-gallery={GalleryLayout.Presentation}>
    {images.map((image) => {
      return (
        <a href={`/gallery/${image}`}>
          <ResponsiveImage name={image} />
        </a>
      );
    })}
  </section>


</MinimalPage>