---
import type { InferGetStaticPropsType, PaginateFunction } from "astro";
import { getCollection, render } from "astro:content";

import BaseHead from "../../../layouts/BaseHead.astro";
import Einblicke from "../../../layouts/Einblicke.astro";
import MinimalPage from "../../../layouts/pages/MinimalPage.astro";
import { type SchemaCreationFunction } from "../../../layouts/SchemaOrg";
import SchemaOrg from "../../../layouts/SchemaOrg.astro";
import { createCollectionPageSchema } from "../../../layouts/SchemaOrg.factory";
import SocialImage from "../../../layouts/SocialImage.astro";
import { absoluteLink } from "../../../utils";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const overviewPages = (await getCollection("einblickeOverviews"));

  const posts = (await getCollection("einblicke")).sort(
    (a, b) => {
      const aData = a.data;
      const bData = b.data;

      return Math.max(bData.date.valueOf(), bData.updated?.valueOf() ?? Number.MIN_VALUE) - Math.max(aData.date.valueOf(), aData.updated?.valueOf() ?? Number.MIN_VALUE);
    }
  );

  return overviewPages.flatMap((e) => {
    const id = e.id;
    const relevantPosts = posts.filter(p => id === "/" || p.id.startsWith(id));
    if (relevantPosts.length === 0) return [];
    return paginate(relevantPosts, {
      pageSize: 12,
      params: { overview: id },
      props: { title: e.data.title, entry: e,}
    });
  });
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, title, entry } = Astro.props;
const id = entry.id;
const { Content } = await render(entry);
const { data: posts } = page;
const { heroImage, date, updated } = posts[0].data;

const createData: SchemaCreationFunction = (_, __, df) => createCollectionPageSchema({
  name: title,
  description: "Blog Beiträge",
  dateModified: df(updated ?? date),
  items: posts.map((e) => ({ url: absoluteLink(Astro.url, `/einblicke/${e.id}`), name: e.data.title, type: "BlogPosting" }))
});

---
<MinimalPage>
  <BaseHead title={title} noIndex={!(id === "/" && page.url.prev === undefined)} slot="head">
    <SocialImage name={heroImage} />
    <SchemaOrg createData={createData} />
  </BaseHead>
  <h1>{title}</h1>
  <Content />
  <Einblicke page={page} />
</MinimalPage>