---
import {getCollection} from 'astro:content';

import {ReviewType} from '../../content/config';
import BaseHead from '../../layouts/BaseHead.astro';
import FeaturedTestimonials from '../../layouts/FeaturedTestimonials.astro';
import MinimalPage from '../../layouts/pages/MinimalPage.astro';
import VideoGallery from '../../layouts/VideoGallery.astro';
import Breadcrumbs from "../../layouts/Breadcrumbs.astro";

const title = 'Tanz Videos';
const featuredSlugs: string[] = ['sarahfrick2'];
const categoryTestimonials = await getCollection('testimonials', e => e.data.type.startsWith('videos/'));
const posts = (await getCollection('videos'))
    .sort((a, b) => a.data.title.localeCompare(b.data.title))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<MinimalPage>
    <BaseHead title={title}></BaseHead>
    <Breadcrumbs/>
    <h1>{title}</h1>
    <p>
        Mittlerweile sind Foto Kameras auch tolle Video Kameras. Im Folgenden findest du ein paar Videos, die ich
        gemacht habe. Ich finde es sehr spannend zu versuchen Videos so perfekt wie Fotos einzufangen. Anstatt den einen
        perfekten Moment, auf den man gemeinsam hinarbeitet, hat man hier 24 bis 60 Momente pro Sekunde - und das
        teilweise für mehrere Minuten...
    </p>


    <FeaturedTestimonials slug={ReviewType.VideoTanz} categoryTestimonials={categoryTestimonials} featuredTestimonials={featuredSlugs}/>

    <VideoGallery slot="postContact" videos={posts}/>
</MinimalPage>
