---
import { type CollectionEntry, render } from "astro:content";

import { filterInvalidImageName } from "../images/Images";
import ResponsiveImage from "./ResponsiveImage.astro";
import ReviewSocialLink from "./ReviewSocialLink.astro";
import { type ReviewProps } from "./Types";

type Props = CollectionEntry<"testimonials"> & ReviewProps;

const entry = Astro.props;
const {
  id: slug,
  data: { name, source, large: optLargeImage, small: optSmallImage },
  displayLargeImage = true
} = entry;

const smallName = optSmallImage ?? `${slug}-small`;
const largeName = optLargeImage ?? `${slug}-large`;

const small = filterInvalidImageName(smallName);
const large = filterInvalidImageName(largeName);
const { Content } = await render(entry);
---

<div data-slug={import.meta.env.DEV ? slug : undefined}>
  {source !== undefined && <ReviewSocialLink source={source} class="right-6" />}
  {small !== undefined &&
    <div>
      <ResponsiveImage sizes="128px" widths={[128]} name={smallName} />
    </div>}
  <h4>{name}</h4>
  <div />
  {displayLargeImage && large !== undefined &&
    <div>
      <ResponsiveImage name={largeName} />
    </div>
  }
  <div />
  <div>
    <Content />
  </div>
</div>