---
import { type CollectionEntry, getCollection } from "astro:content";
import MinimalPage from "../../../layouts/pages/MinimalPage.astro";
import BaseHead from "../../../layouts/BaseHead.astro";
import ResponsiveImage from "../../../layouts/ResponsiveImage.astro";
import Gallery from "../../../layouts/Gallery.astro";
import Breadcrumbs from "../../../layouts/Breadcrumbs.astro";

export async function getStaticPaths() {
  const reviews = await getCollection("sport");
  return reviews.map(e => ({ params: { sport: e.slug }, props: e }));
}
type Props = CollectionEntry<"sport">

const { slug, render, data: { name, images } } = Astro.props;
const { Content } = await render();
---
<MinimalPage>
  <BaseHead title={name}></BaseHead>
  <Breadcrumbs />
  <div class="mx-auto mt-4 h-48 w-64 object-contain">
    <ResponsiveImage bg={false} widths={[128, 192, 256]} name={`vereine/${slug}`}></ResponsiveImage>
  </div>

  <Content />

  <div slot="postContact">
    <Gallery folder={`sport/${slug}`} sorted={images} />
  </div>
</MinimalPage>
