---
interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  author?: string;
}

const {
  title,
  description,
  noIndex = false,
  keywords,
  author = "Florian Reisinger"
} = Astro.props;

const { href, pathname } = Astro.url;
const url = pathname === "/" ? href.substring(0, href.length - 1) : href;
---
<head>
  <meta charset="utf-8" />
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <title>{title}</title>
  <meta name="title" content={title} />
  {description &&
    <>
      <meta name="og:description" content={description} />
      <meta name="description" content={description} />
    </>}
  {keywords && keywords.length > 0 &&
    <meta name="keywords" content={keywords.join(",")} />}

  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  <meta property="og:title" content={title} />
  <meta property="og:locale" content="de_AT" />
  <meta property="article:author" content={author} />
  {description &&
    <meta property="og:description" content={description} />}

  <meta property="twitter:url" content={url} />
  <meta property="twitter:title" content={title} />
  {description &&
    <meta property="twitter:description" content={description} />}

  {noIndex &&
    <meta name="robots" content="noindex, follow">}

  <link rel="canonical" href={url} />
  <slot />
</head>
