---
import type { InferGetStaticPropsType, PaginateFunction } from "astro";
import { getCollection } from "astro:content";

import { getImageImportNameByFolder } from "../../images/Images";
import BaseHead from "../../layouts/BaseHead.astro";
import ImageGallery from "../../layouts/ImageGallery.astro";
import MinimalPage from "../../layouts/pages/MinimalPage.astro";
import Pagination from "../../layouts/Pagination.astro";
import Breadcrumbs from "../../layouts/Breadcrumbs.astro";
import { slugToName } from "../../utils";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const areas = (await getCollection("areas")).map(area => area.slug);

  return areas.flatMap(area => {
    const images = getImageImportNameByFolder(area).slice(10);

    const pagination = paginate(images, { params: { area }, pageSize: 20, props: { area } });
    pagination[0].props.page.url.prev = `/${area}`;
    return pagination;
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { area, page } = Astro.props as Props;
const { data: images } = page;
const name = slugToName(area);
---
<MinimalPage>
  <BaseHead title={`Mehr ${name} Bilder`} />
  <Breadcrumbs />
  <h1 class="mb-6">Mehr {name} Bilder</h1>
  <Pagination page={page} />
  <ImageGallery images={images}></ImageGallery>
  <Pagination page={page} />
</MinimalPage>
