---
import type { InferGetStaticPropsType } from "astro";
import { getCollection, getEntry } from "astro:content";

import { tryGetImage } from "../../images/Images";
import AiSummaryCard from "../../layouts/AiSummaryCard.astro";
import BaseHead from "../../layouts/BaseHead.astro";
import MinimalPage from "../../layouts/pages/MinimalPage.astro";
import ResponsiveImage from "../../layouts/ResponsiveImage.astro";
import SocialImage from "../../layouts/SocialImage.astro";
import { groupBy, slugToName } from "../../utils";

export async function getStaticPaths() {
  const testimonials = await getCollection("testimonials");

  const pageData = groupBy(testimonials, e => e.data.type);

  return Object.keys(pageData).flatMap((type) => {
    const sortedReviews = pageData[type].sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
    return { params: { area: type }, props: { reviews: sortedReviews, type } };
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { type, reviews } = Astro.props;
const heroImage = reviews.map(e => `${e.slug}-large`)
  .filter(e => tryGetImage(e) !== undefined)
  .find(e => e !== undefined);

const title = `${(slugToName(type))} Bewertungen`;

const aiSummary = (await getEntry("testimonialSummary", type))?.data;
console.log(aiSummary, type);
---
<MinimalPage>
  <BaseHead title={title} slot="head">
    <SocialImage name={heroImage} />
  </BaseHead>
  <h1 class="mb-8">{title}</h1>

  {aiSummary !== undefined &&
    <AiSummaryCard summary={aiSummary.summary} reviewCount={aiSummary.reviewCount} />}
  <div class="mx-2 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
    {reviews.map(async e => {
      const smallName = `${e.slug}-small`;
      const small = tryGetImage(smallName);
      return (
        <>
          {
            small &&
            <div class="avatar">
              <a href={`/testimonials/${e.slug}`} aria-label={e.data.name}>
                <ResponsiveImage class="rounded-full !size-32" sizes="128px" widths={[128]} name={smallName} />
              </a>
            </div>
          }
          {
            !small &&
            <div class="avatar avatar-placeholder">
              <div class="size-32 bg-neutral rounded-full">
                <a class="text-neutral-content text-center wrap-break-word no-underline" href={`/testimonials/${e.slug}`}
                >
                  {e.data.name}
                </a>
              </div>
            </div>
          }
        </>);
    })}
  </div>
</MinimalPage>
