---
import { buildSeoMetaTags, canonicalUrl } from "@reisinger/shared/seo/meta";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  author?: string;
}

const {
  title,
  description,
  noIndex = false,
  keywords,
  author = "Florian Reisinger"
} = Astro.props;

const { href, pathname } = Astro.url;
const url = canonicalUrl(href, pathname);

const metaTags = buildSeoMetaTags({
  title,
  description,
  url,
  keywords,
  author,
  ogSiteName: "Fotograf Florian Reisinger",
  noIndex
});
---
<head>
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <title>{title}</title>
  {metaTags.map(tag => tag.attr === "name"
    ? <meta name={tag.key} content={tag.value} />
    : <meta property={tag.key} content={tag.value} />)}

  <link rel="canonical" href={url} />
  <slot />
</head>
