---
import type { NumericBreakpoints } from "@reisinger/shared/utils/Breakpoints";

import FormattedDate from "./FormattedDate.astro";
import { GALLERY_BREAKPOINTS, GalleryLayout } from "./GalleryLayout";
import ResponsiveImage from "./ResponsiveImage.astro";

export interface Props {
  href: string;
  imageName: string;
  title: string;
  date?: Date;
  ctaLabel?: string;
  imageSizeModifiers?: Partial<NumericBreakpoints>;
  class?: string;
}

const {
  href,
  imageName,
  title,
  date,
  ctaLabel = "Jetzt lesen",
  imageSizeModifiers = GALLERY_BREAKPOINTS[GalleryLayout.Overview],
  class: className
} = Astro.props;
---
<a href={href} class:list={[
  "card bg-base-200 shadow-sm hover:shadow-xl transition-shadow no-underline group h-full flex flex-col",
  className
]}>
  <figure class="relative aspect-3/2 max-h-60 bg-base-200/50 overflow-hidden flex items-center">
    <ResponsiveImage
      class="w-full h-full object-contain"
      sizeModifiers={imageSizeModifiers}
      alt={title}
      name={imageName}
      showInfo={true}
    />
  </figure>

  <div class="card-body flex flex-col grow">
    <h3 class="card-title group-hover:text-primary transition-colors">{title}</h3>

    {date && (
      <p class="text-center text-sm text-base-content/70">
        <FormattedDate date={date} />
      </p>
    )}

    <div class="card-actions justify-center mt-auto pt-4">
      <span class="btn btn-primary">{ctaLabel}</span>
    </div>
  </div>
</a>
