---
interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  author?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title: dynamicTitle,
  description,
  noIndex = false,
  keywords,
  author = "Florian Reisinger"
} = Astro.props;

const title = `${dynamicTitle} - reisinger.pictures`;
---
<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  {description &&
    <>
      <meta name="og:description" content={description} />
      <meta name="description" content={description} />
    </>}
  {keywords && keywords.length > 0 &&
    <meta name="keywords" content={keywords.join(",")} />}

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:locale" content="de_AT" />
  <meta property="article:author" content={author} />
  {description &&
    <meta property="og:description" content={description} />}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  {description &&
    <meta property="twitter:description" content={description} />}

  {noIndex &&
    <meta name="robots" content="noindex, follow">}

  <link rel="canonical" href={Astro.url} />
  <slot/>
</head>
<!-- End Matomo Code -->
