---
import { DataCollectionKey, getCollection } from "astro:content";

const astroUrl = Astro.url;
const sharedUrl = encodeURIComponent(astroUrl.toString());
const { pathname } = astroUrl;
const url = pathname.replace(/\/+$/, "");

function titleOrUndefined(o: Record<string, unknown>): string | undefined {
  if (typeof o.title === "string") {
    return o.title;
  }
  if (typeof o.name === "string") {
    return o.name;
  }
  return undefined;
}

function toName(input: string): string {
  const parts = input.split("/");
  const last = parts[parts.length - 1];
  const formatted = last.replace(/[-_]/g, " ");
  return formatted.charAt(0).toUpperCase() + formatted.slice(1);
}

const contentPrefixConfig: Record<DataCollectionKey, string> = {
  testimonials: "testimonials",
  areas: "",
  einblicke: "einblicke",
  simple: "",
  sport: "sport",
  videos: "videos",
  shootingCards: "cards"
};

type MatchingUrls = { name: string, path: string }[];

const additionalSlugs: MatchingUrls = [
  "einblicke"
].map(e => ({
  path: `/${e}`,
  name: toName(e)
}));

const matchingContent: MatchingUrls = (await Promise.all(
    Object.entries(contentPrefixConfig)
      .filter(([, v]) => url.startsWith(v))
      .map(([k]) => k as DataCollectionKey)
      .flatMap(async k => (await getCollection(k))
        .map(e => ({
            path: `${contentPrefixConfig[k]}/${e.slug}`,
            name: titleOrUndefined(e.data) ?? toName(e.slug)
          })
        )
      )
  )
).flatMap(e => e)
  .concat(additionalSlugs);


const matchingUrls: MatchingUrls = matchingContent.flatMap(k => k)
  .filter(({ path }) => url.startsWith(path) && path !== url)
  .sort(({ path: a }, { path: b }) => a.length - b.length);
---

<div class="inline-block mb-2 mt-4 sm:flex flex-row-reverse items-center justify-between w-full">
  <div class="flex flex-wrap items-center my-1 justify-self-end">
    <span class="pr-2">Teilen diese Seite via Whatsapp: </span>
    <a
      class="black socialLink"
      target="_blank" rel="noopener"
      href={`https://wa.me/?text=${sharedUrl}`}
      aria-label="Teile via Whatsapp" draggable="false">
      <span class="mdi--whatsapp" />
    </a>
  </div>
  {url !== "" &&
    <div>
      <a aria-label="Home" href="/" class="text-xl black material-symbols--home"></a>
      {matchingUrls.map(({ name, path }) => (
        <>
          <span class="mx-1 material-symbols--chevron-right text-sm"></span>
          <a class="black underline text-lg" href={path}>{name}</a>

        </>
      ))}
    </div>}
</div>