---
import { type CollectionEntry } from "astro:content";
import { type Page } from "astro";
import FormattedDate from "./FormattedDate.astro";
import Pagination from "./Pagination.astro";
import ResponsiveImage from "./ResponsiveImage.astro";
import { GALLERY_BREAKPOINTS, GalleryLayout } from "./GalleryLayout";

interface Props {
  page: Page<CollectionEntry<"einblicke">>;
}

const { page } = Astro.props;

const { data: posts } = page;
---

<Pagination page={page} />

<section class="mx-auto my-4 grid gap-y-4 md:grid-cols-2 md:gap-x-4 xl:grid-cols-3">
  {
    posts.map((post) =>
      (
        <div class="card bg-base-200 shadow-sm">
          <figure>
            <ResponsiveImage class="max-h-96" sizeModifiers={GALLERY_BREAKPOINTS[GalleryLayout.Overview]} name={post.data.heroImage} />
          </figure>
          <div class="card-body">
            <h3 class="card-title">{post.data.title}</h3>
            <p class="text-center">
              <FormattedDate date={post.data.updated ?? post.data.pubDate} />
            </p>
            <div class="card-actions justify-center">
              <a href={`/einblicke/${post.slug}/`} class="btn btn-primary">Jetzt lesen</a>
            </div>
          </div>

        </div>
      ))
  }
</section>

<Pagination page={page} />
