---
import ResponsiveImage from "./ResponsiveImage.astro";
import { getImageImportNameByPossiblyRelativeName, tryGetImageByAbsoluteName } from "../images/Images";
interface Props {
  name: string;
  titel?: string;
}
const { name, titel } = Astro.props;
const imagePromise = tryGetImageByAbsoluteName(getImageImportNameByPossiblyRelativeName(name));
if (imagePromise === undefined) {
  throw new Error(`Image "${name}" not found`);
}
const image = (await imagePromise).default;
const ratio = `${image.width}/${image.height}`;
---
<div class="relative rounded-2xl my-4 bg-gradient-to-r from-primary-alternative to-black">
  <div class="mx-auto px-8" style={{
    maxHeight: "80vh",
    aspectRatio: ratio
  }}>
    <ResponsiveImage name={name} bg={false} />
  </div>
  <p class="text-center text-white font-light text-3xl pb-16">{titel}</p>
</div>