---
import { isSubMenu, type Menue, type MenueItem, type SubMenu, Visibility } from "./Menue";
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, OpenIcon, CloseIcon } from "astro-navbar";
import ResponsiveImage from "./ResponsiveImage.astro";
import { ResponsiveImageLoading } from "./ResponsiveImageLoading";
import HeaderLink from "./HeaderLink.astro";

const reviewItem: MenueItem = { name: "Bewertungen", href: "/testimonials" };
const images: MenueItem = { name: "Bilder", href: "/images", visibility: Visibility.DEV_ONLY };


const menue: Menue = [
  {
    name: "Beauty-Fotoshooting",
    baseHref: "/beauty",
    items: [
      { name: "Dein Fotoshooting", href: "" },
      images,
      reviewItem]
  }, {
    name: "Akt-Fotoshooting",
    baseHref: "/akt",
    items: [
      { name: "Alle Information", href: "" },
      images,
      reviewItem,
      {
        name: "Akt-Shooting Ablauf",
        href: "/ablauf"
      }
    ]
  }, {
    name: "Pärchen Fotos",
    baseHref: "/couples",
    items: [
      { name: "Dein Erlebnis", href: "" },
      images,
      reviewItem]

  }, {
    name: "Sport Events",
    baseHref: "/sport",
    items: [
      { name: "Meine Sportarten", href: "" },
      { name: "Meine Sportarten Bilder", href: "/images", visibility: Visibility.DEV_ONLY },
      {
        name: "ACSL - Austrian Collegue Sport League",
        href: "/acsl"
      }, {
        name: "ACSL Bilder",
        href: "/acsl/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "Black Wings Linz",
        href: "/bwl"
      }, {
        name: "BWL Bilder",
        href: "/bwl/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "LASK - Linzer Allgemeiner Sportklub",
        href: "/lask"
      }, {
        name: "LASK Bilder",
        href: "/lask/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "ÖFB - Österreichischer Fußballbund",
        href: "/oefb"
      }, {
        name: "ÖFB Bilder",
        href: "/oefb/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "SteelVolleys Linz",
        href: "/steelvolleys"
      }, {
        name: "SteelVolleys Linz Bilder",
        href: "/steelvolleys/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "SteelWings Linz",
        href: "/swl"
      }, {
        name: "SWL Bilder",
        href: "/swl/images",
        visibility: Visibility.DEV_ONLY
      }
    ]
  }, {
    name: "Einblicke in meine Fotoshootings",
    href: "/einblicke"
  }
];

const isDevMode = import.meta.env.MODE === "development";

function renderMenu(entry: MenueItem | SubMenu) {
  const visibility = entry.visibility ?? Visibility.ALWAYS;
  return visibility === Visibility.ALWAYS ||
    (visibility === Visibility.DEV_ONLY && isDevMode) ||
    (visibility === Visibility.PROD_ONLY && !isDevMode);
}
---
<header class="pb-6">
  <Astronav closeOnClick>
    <div class="flex flex-col items-center w-full justify-between">
      <a href="/" class="mx-auto my-4 size-32">
        <ResponsiveImage class="rounded-full border-white border-2" widths={[128]} name="images/logo" bg={false} loading={ResponsiveImageLoading.EAGER}></ResponsiveImage>
      </a>
      <div class="block md:hidden">
        <MenuIcon>
          <OpenIcon><span class="inline-flex items-center gap-x-2">Mehr entdecken<span class="mdi--menu text-3xl"></span></span></OpenIcon>
          <CloseIcon><span class="inline-flex items-center gap-x-2">Menü schließen<span class="mdi--menu-close text-3xl"></span></span>
          </CloseIcon>
        </MenuIcon>
      </div>
    </div>
    <MenuItems class="hidden bg-primary-alternative pt-4 pb-2 md:flex">
      <div class="flex flex-col w-full md:flex-row gap-y-4 my-4 md:gap-5 md:justify-center items-center">
        {
          menue
            .filter(e => renderMenu(e))
            .map(item => {
              if (isSubMenu(item)) {
                return (
                  <Dropdown class="group flex flex-col items-center">
                    <button>
                      <HeaderLink href={item.baseHref}>
                        {item.name}
                        <span class="ml-1.5 mdi--menu-down group-open:rotate-180"></span>
                      </HeaderLink>
                    </button>
                    <DropdownItems class="relative z-50">
                      <div
                        class="flex flex-col items-center border-y py-2 md:absolute md:mt-2 md:px-4 md:-translate-x-1/2 md:rounded md:border md:bg-onSecondary-alternative md:text-secondary-alternative">
                        {item.items
                          .filter(e => renderMenu(e))
                          .map(e => (
                            <a class="my-3" href={item.baseHref + e.href}>
                              <HeaderLink class="!pb-0" href={e.href}>{e.name}</HeaderLink>
                            </a>))}

                      </div>
                    </DropdownItems>
                  </Dropdown>
                );
              } else
                return (
                  <a href={item.href}>
                    <HeaderLink href={item.href}>{item.name}</HeaderLink>
                  </a>
                );
            })
        }
      </div>
    </MenuItems>
  </Astronav>
</header>
