---
import { isSubMenu, type Menue, type MenueItem, type SubMenu, Visibility } from "./Menue";
import ResponsiveImage from "./ResponsiveImage.astro";
import { ResponsiveImageLoading } from "./ResponsiveImageLoading";

const reviewItem: MenueItem = { name: "Bewertungen", href: "/testimonials" };
const images: MenueItem = { name: "Bilder", href: "/images", visibility: Visibility.DEV_ONLY };


const menue: Menue = [
  {
    name: "Beauty-Fotoshooting",
    baseHref: "/beauty",
    items: [
      { name: "Dein Fotoshooting", href: "" },
      images,
      reviewItem]
  }, {
    name: "Akt-Fotoshooting",
    baseHref: "/akt",
    items: [
      { name: "Alle Information", href: "" },
      images,
      reviewItem,
      {
        name: "Akt-Shooting Ablauf",
        href: "/ablauf"
      }
    ]
  }, {
    name: "Pärchen Fotos",
    baseHref: "/couples",
    items: [
      { name: "Dein Erlebnis", href: "" },
      images,
      reviewItem]

  }, {
    name: "Sport Events",
    baseHref: "/sport",
    items: [
      { name: "Meine Sportarten", href: "" },
      { name: "Meine Sportarten Bilder", href: "/images", visibility: Visibility.DEV_ONLY },
      {
        name: "ACSL - Austrian Collegue Sport League",
        href: "/acsl"
      }, {
        name: "ACSL Bilder",
        href: "/acsl/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "Black Wings Linz",
        href: "/bwl"
      }, {
        name: "BWL Bilder",
        href: "/bwl/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "LASK - Linzer Allgemeiner Sportklub",
        href: "/lask"
      }, {
        name: "LASK Bilder",
        href: "/lask/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "ÖFB - Österreichischer Fußballbund",
        href: "/oefb"
      }, {
        name: "ÖFB Bilder",
        href: "/oefb/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "SteelVolleys Linz",
        href: "/steelvolleys"
      }, {
        name: "SteelVolleys Linz Bilder",
        href: "/steelvolleys/images",
        visibility: Visibility.DEV_ONLY
      }, {
        name: "SteelWings Linz",
        href: "/swl"
      }, {
        name: "SWL Bilder",
        href: "/swl/images",
        visibility: Visibility.DEV_ONLY
      }
    ]
  }, {
    name: "Mehr Einblicke & Bilder",
    href: "/einblicke"
  }
];

const isDevMode = import.meta.env.MODE === "development";

function isMenuVisible(entry: MenueItem | SubMenu) {
  const visibility = entry.visibility ?? Visibility.ALWAYS;
  return visibility === Visibility.ALWAYS ||
    (visibility === Visibility.DEV_ONLY && isDevMode) ||
    (visibility === Visibility.PROD_ONLY && !isDevMode);
}
---
<header class="py-4">
  <a class="container" href="/">
    <ResponsiveImage class="size-32 rounded-full mx-auto" widths={[128]} name="images/logo"
                     loading={ResponsiveImageLoading.EAGER}></ResponsiveImage>
    <p class="text-center text-xl font-extralight py-4"> reisinger.pictures | Florian Reisinger</p>
  </a>

  <ul class="menu border-y-primary border-y-2 w-full gap-y-1 py-2 lg:gap-y-0 md:menu-horizontal bg-base-200 justify-center">
    {
      menue
        .filter(e => isMenuVisible(e))
        .map(item => {
          if (isSubMenu(item)) {
            return (
              <li>
                <details>
                  <summary>
                    {item.name}
                  </summary>
                  <ul class="flex flex-col gap-y-1 py-1">
                    {item.items
                      .filter(e => isMenuVisible(e))
                      .map(e => (
                        <li>
                          <a href={item.baseHref + e.href}>
                            {e.name}
                          </a>
                        </li>
                      ))}
                  </ul>
                </details>
              </li>
            );
          } else
            return (
              <li>
                <a href={item.href}>
                  {item.name}
                </a>
              </li>
            );
        })
    }
  </ul>
</header>
