---
import { type CollectionEntry } from "astro:content";

import { filterInvalidImageName } from "../images/Images";
import ResponsiveImage from "./ResponsiveImage.astro";
import { type ReviewProps } from "./Types";

type Props = CollectionEntry<"testimonials"> & ReviewProps;

const {
  slug,
  data: { name, source },
  render,
  displayLargeImage = true
} = Astro.props;

const smallName = `${slug}-small`;
const largeName = `${slug}-large`;

const small = filterInvalidImageName(smallName);
const large = filterInvalidImageName(largeName);
const { Content } = await render();
---

<div data-slug={import.meta.env.DEV ? slug : undefined}>
  {source !== undefined && <a href={source} target="_blank" class:list={["absolute right-6 text-3xl", {
    "mdi--google": source.indexOf("g.co") > 0 || source.indexOf("goo.gl") > 0,
    "mdi--facebook": source.indexOf("facebook.com") > 0
  }]}>
  </a>}
  {small !== undefined &&
    <div>
      <ResponsiveImage sizes="128px" widths={[128]} name={smallName} />
    </div>}
  <h4>{name}</h4>
  <div />
  {displayLargeImage && large !== undefined &&
    <div>
      <ResponsiveImage name={largeName} />
    </div>
  }
  <div />
  <div>
    <Content />
  </div>
</div>
