---
import { type CollectionEntry } from "astro:content";
import { tryGetImageNameByName } from "../images/Images";
import ResponsiveImage from "./ResponsiveImage.astro";
import { type ReviewProps } from "./Types";

type Props = CollectionEntry<"testimonials"> & ReviewProps;

const {
  slug,
  data: { name, source },
  render,
  displayLargeImage = true
} = Astro.props;
const baseName = `/${slug}`;
const smallName = `${baseName}/small`;
const largeName = `${baseName}/large`;
const small = tryGetImageNameByName(smallName, []);
const large = tryGetImageNameByName(largeName, []);
const { Content } = await render();
---

<div data-slug={import.meta.env.DEV ? slug : undefined} class="card bg-base-300 shadow-sm">
  {small !== undefined &&
    <div class="pt-8">
      <figure class="avatar size-32 mx-auto">
        <ResponsiveImage class="rounded-full " sizes="128px" widths={[128]} name={smallName} />
      </figure>
    </div>}
  <h4 class="card-title">{name}</h4>
  {displayLargeImage && large !== undefined &&
    <ResponsiveImage name={largeName} />
  }
  <div />
  <div class="card-body">
    <Content />
  </div>
  {source !== undefined && <a href={source} target="_blank" class:list={["absolute right-6 text-3xl", {
    "mdi--google": source.indexOf("g.co") > 0 || source.indexOf("goo.gl") > 0,
    "mdi--facebook": source.indexOf("facebook.com") > 0
  }]}>
  </a>}
</div>
